/* Основные стили */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: white;
    text-align: center;
    overflow-x: hidden; /* Убираем горизонтальный скролл */
}

/* Фоновое изображение */
.background-image {
    background: url('mainpage.jpg') no-repeat top center;
    background-size: cover; /* Масштабируем изображение по ширине, сохраняя пропорции */
    width: 100%;
    height: auto; /* Высота зависит от ширины экрана */
    position: relative; /* Позиционирование дочерних элементов */
    min-height: 100vh; /* Минимальная высота блока — высота экрана */
}

/* Заголовок */
.header h1 {
    position: absolute;
    top: 15%; /* Отступ от верхней части экрана */
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem; /* Размер заголовка */
    z-index: 1; /* Заголовок будет на переднем плане */
}

/* Текст на главной странице */
.main-text {
    position: absolute;
    bottom: 25%; /* Текст будет расположено ближе к нижней части */
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для читаемости */
    z-index: 1; /* Текст будет на переднем плане */
}

/* Плееры */
.players {
    position: absolute;
    bottom: 10%; /* Плееры будут располагаться внизу */
    left: 50%;
    transform:
